<div class="authform">
  <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <div class="12-large-columns">
        <p><img src="/assets/images/logoreno.png"/></p>
      </div>

      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> 'button radius' %>
      </div>
  <% end %>
</div>


