<div class="row" id="contact">
  <div class="large-12 columns text-center mmargin mmargin-top">
    <div class="row inner" id="contact">
      <div class="large-12 columns text-center mmargin mmargin-top">
        <div class="large-12 columns">
          <h3>Get in Touch!</h3>
          <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
            <em>all day</em>.</p>
        </div>
      </div>
    </div>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <img src="/assets/images/logoreno.png", root_path/>
    <h3>Log in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to 'Sign up', new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Log in', :class => '"button radius right"' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>
  <% end %>
</div>
</div>
    </div>