<div class="authform">
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <!--<%= f.label :Title %>-->
    <!--<%= f.text_field :title %>-->

    <%= f.label :Explain_your_problem %>
    <%= f.text_field :description %>
    <%= f.label :Are_you_homeowner? %>
    <%= f.input :owner %>
    <%= f.label :Do_you_have_parking_for_trader? %>
    <%= f.input :parking %>
    <%= f.label :Is_it_urgent? %>
    <%= f.input :urgency %>
    <!--<%= f.label :What_is_your_budget? %>-->
    <!--<%= f.input :budget %>-->
    <%= f.label :Do_you_want_us_to_send_quote? %>
    <%= f.input :quote %>
    <%= f.label :Do_you_want_us_to_send_photo_of_your_problem? %>
    <%= f.file_field :photo %>
    <%= f.input :how_did_you_here_about_us %>
    <!--<%= f.input :publish_date %>-->
    <%= f.input :user_id %>
    <%= f.association :categories%>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'button radius right' %>
  </div>
      </div>
<% end %>
