<%# add navigation links to this file %>
<!--logical dividing of links based on roles-->
<div class="top-bar-section">
  <ul>

<% if user_signed_in? %>

  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
        <li class="divider"></li>
  <li ><%= link_to 'Login', new_user_session_path %></li>
        <li class="divider"></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Zmeň konto', edit_user_registration_path %></li>
<% else %>
        <li class="divider"></li>

  <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li class="divider"></li>
    <% end %>

<!--if you sign in as bussines -->

<% if user_signed_in? %>
    <% if current_user.is_vendor? %>
  <li><%= link_to 'Vitajte', static_pages_contact_path %></li>
<% end %>
   <% end %>ä
    <li class="divider"></li>
<!--if you sign in as bussines -->

<% if user_signed_in? %>
    <% if current_user.is_vendor? %>
    <li><%= link_to 'Produkty', products_path %></li>

        <% end %>
    <% end %>

<!--if you sign in as bussines -->

<!--<% if user_signed_in? %>-->
    <!--<% if current_user.is_vendor? %>-->
<<<<<<< Updated upstream
    <!--<li><%= link_to 'Categories', categories_path %></li>-->
=======
    <!--<li><%= link_to 'Produkty', products_path %></li>-->
>>>>>>> Stashed changes

    <!--<% end %>-->
<!--<% end %>-->

<!--if you sign in as customer -->


<% if user_signed_in? %>
    <% if current_user.is_customer? %>
        <li><%= link_to 'Produkty', products_path %></li>

    <% end %>
<% end %>

</ul>
</div>



