<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dream" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dream" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="fixed shadow">
<!--render top navigation bar-->
     <!--<nav class="top-bar">-->

      <%= render 'layouts/navigation' %>

     <!--</nav>-->
<!--render layout message if login is successfull or not -->
    </header>

   <article>

       <%= render 'layouts/messages' %>
       <%= yield %>
   </article>
<!--render footer layout-->


    <footer class="shadow">
      <%= render 'layouts/footer' %>

    </footer>



    <!-- Included JS Files (Compressed) -->
    <script src="jquery.js"></script>
    <script src="foundation.min.js"></script>
    <script src="stickyFooter.js"></script>
    <script src="javascripts/jquery.foundation.orbit.js"></script>
    <!-- Initialize JS Plugins -->
    <script src="app.js"></script>
  </body>

</html>

